.certificate-info{
  background-color: #006cff;
  width: 100%;
  height: 800px;
  position: relative;
  text-align: center;
  &-backImage {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
}